<div class="chatbot-section">
  <div class="chatbot-icon">
    <img src="img/message.png" alt="no" srcset="" >
  </div>
  <div class="chatbot">
    <div class="chatbot-heading">
      <img src="img/chatbotonline.svg" alt="no" srcset=""><h2>RH Bot</h2>
      <!-- <img class="closeform" src="img/cross.png" alt="no" srcset="" onclick="closeForm()"> -->
   </div> 
  </div>
</div>